body {
    margin: 0;
    padding: 0;
    background-color: #F5FFF4;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

li, a {
    color: #F5FFF4;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #36454F;
}

.logo {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.nav-links {
    list-style: none;
}   

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}   

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(152, 255, 152);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color:#36454F;
}

button:hover{
    background-color: rgba(152, 255, 152,0.8);
    color:#fff;
}

.container2, .container3, .container4, .container5, .container6{
    margin: 80px;
    margin-left: 100px;
    justify-content: center;
}

.gallery{
    display: flex;
    flex-direction: row;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;
    transition: .4s;
    width: 1200px;

}
.gallery:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

.tour-img img{
    width: 400px;
    height: 400px;
    margin: 50px;
    border-radius: 30px;
}
.tour-text{
    margin-top: 80px;
    margin-left: 50px;
}
.tour-text li{
    color: #36454F;
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer{
    background-color: #36454F;
    padding: 70px 0;

}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;  
    position: relative;  
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgba(152, 255, 152);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
}

